.search-form {
  background: #333;
  padding: 10px 40px;
  border-radius: 10px;
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
.search-form form {
  margin: 10px 0;
}

.search-form input {
  width: 70%;
}

.search-form input,
.search-form button {
  outline: none;
  padding: 10px;
  border-radius: 7px;
  border: none;
}
.search-form button {
  padding: 10px 40px;
  background: #6cc644;
  margin: 0 8px;
  color: #f5f5f5;
  cursor: pointer;
}

.search-results{
  background: #f5f5f5;
  padding: 10px 30px;
  margin: 20px 0;
  border-radius: 10px;
}
.user {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  align-items: center;
  padding: 0 ;
  border-bottom: #444 solid 1px;
}

.user .image {
  width: 20%;
}
.user .image img {
  width: 100%;
  border-radius: 10%;
}

.user-info *{
  display: block;
  padding:0 10px;
}

/* Pagination */
.more-options{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.more-options select,.pagination button{
  outline: none;
  padding: 5px;
  border-radius: 5px;
  border: none;
}
.pagination button{
  background-color: #333;
  color: #fff;
  margin: 0 5px;
}